/* styles.css */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;
  background-color: white;
  color: black;
}

.footer-left p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 10px;
  font-weight: 300;
}

.footer-left a {
  color: #000;
  /* text-decoration: none; */
  /* font-weight: bold; */
}

.footer-right {
  display: flex;
  gap: 40px;
}

.contact-info {
  display: flex;
  gap: 100px;
  margin-right: 100px;
}

.contact-info strong {
  font-weight: 500;
}

.contact-info p {
  margin: 0;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.contact-info a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin: 0 10px;
}
